.article-container {
	@media (min-width: 800px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		gap: 20px;
	} 
	@media (hover) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 20px;
		flex-flow: row wrap;

		@media (min-width: 660px) {
			justify-content: space-between;
			flex-flow: row nowrap;
		}
	}

	&--hero {
		height: 100%;
	}
	&--services {
		filter: drop-shadow(10px 40px 50px rgba(229, 233, 246, 0.4));
		
		@media (min-width: 800px) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			gap: 1.875rem;
		}
		@media (hover) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			gap: 1.875rem;
		}
	}
	&--articles {
		@media (min-width: 481px) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			gap: 1.875rem;
		}
		@media (min-width: 1280px) {
			justify-content: space-between;
		}
		@media (hover) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: initial;
			align-content: initial;
			gap: 1.875rem;

			@media (min-width: 1600px) {
				justify-content: space-between;
			}
		}
	}
}

.article-item {
	&--hero {
		flex-shrink: 1;

		@media (hover) {
			max-width: 65ch;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&--section {
		// max-width: 65ch;
		// @media (min-width: 481px) {
		// 	margin: 0 auto;
		// }
		flex-shrink: 1;

		@media (hover) {
			margin: 0 0;
		}
	}
	&--services {
		overflow: hidden;
		flex: 1 1 35ch;
		border-radius: 1.25rem;
		background: var(--c-text-white);
		// filter: drop-shadow in this place cause troubles in FF
		// filter: drop-shadow(10px 40px 50px rgba(229, 233, 246, 0.4));
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-bottom: 1.25rem;

		@media (min-width: 800px) {
			margin-bottom: 0;
		}
		@media (hover) {
			flex: 1 1 26ch;
			flex-flow: column;
			margin-bottom: 0;

			@media (min-width: 1100px) {
				flex: 1 1 30ch;
			}
		}
	}
	&--testimonials {
		@media (min-width: 481px) {
			display: flex;
			// flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			align-content: start;
			gap: 1.875rem;
		}	
		@media (hover) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: initial;
			align-content: initial;
			gap: 1.875rem;

			@media (min-width: 1600px) {
				justify-content: space-between;
			}
		}
	}
	&--articles {
		filter: drop-shadow(10px 40px 50px rgba(229, 233, 246, 0.4));
		overflow: hidden;
		background: var(--c-text-white);
		flex: 1 1 30ch;
		max-width: 41ch;
		border-radius: 1.25rem;
		margin-top: 1.625rem;
	
		@media (min-width: 481px) {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: unset;
		}
		@media (hover) {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: unset;
		}
	}
}

.item {
	&__image-wraper {
		height: 95px;
		width: 100%;
		flex: 1 1 50%;

		@media (hover) {
			height: 95px;
			flex: 0 1 auto;
			display: flex;
			align-items: flex-end;
			justify-content:flex-start;
		}
	}
	&__info-wraper{
		flex: 1 1 auto;
	}
	&__image {
		width: 100%;
	}
	&__box {
		padding: 1rem;
	
		@media (min-width: 481px) {
			padding: 2.0625rem;
		
			&--articles{
				height: 100%;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				gap: 10px;
			}
		}
		@media (hover) {
			padding: 2.0625rem;
		
			&--articles{
				height: 100%;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				gap: 10px;
			}
		}
	}
	&__info {
		color: var(--c-text-gray);
		line-height: 1.75;
		max-width: 40ch;
		margin: 0 0;
	
		&--hero {
			font-size: var(--f-size-h4);
			margin-bottom: 2ch;
			margin-right: auto;
			margin-left: auto;
		}		
		&--section {
			font-size: var(--f-size-secondary);
			margin-bottom: 2ch;
			margin-left: auto;
			margin-right: auto;
		}
		&--card {
			font-size: var(--f-size-main);
		}
		&--footer {
			font-size: var(--f-size-secondary);
			font-weight: var(--f-weight-light);
			color: var(--c-text-white);
			line-height: 1.556em;
			padding-top: 6px;
		}
		&--wide {
			max-width: 90ch;
			text-align: center;
		}
	}
	&__link {
		display: inline-block;
		text-decoration: none;
		color: var(--c-main);
		font-weight: var(--f-weight-bold);
		transition: all 200ms cubic-bezier(0.3, 0.27, 0.11, 0.97);
		line-height: 3em;
	
		&:hover {
			opacity: var(--opacity-active-strong);
		}
	}
}

.link__arrow {
	margin-left: 10px;
	width: 1em;
}