// #### html settings
*, ::before, ::after {
	box-sizing: border-box;
}

.trafalgar {
	color: var(--c-text-dark);
	font-size: var(--f-size-main);
	font-family: 'Mulish', sans-serif;

}

// #### body settings
.page {
	min-height: 100vh;
	width: 100%;
	background-color: var(--c-bg-main);
	text-align: center;
	@media (hover) {
		min-width: 660px;
		text-align: initial;
	}

}

// #### mobile page padding L/R
.mobile-padding {
	padding: 0 var(--p-mobile);

	@media (hover) {
		padding: 0 0;
	}
}
.image {
	max-width: 100%;
	height: auto;
}

.image-wrapper {
	padding-bottom: 2ch;
	@media (hover) {
		padding-bottom: unset;
	}
}