// #### general settings

.trafalgar {
	color: var(--c-text-dark);
	font-size: var(--f-size-main);
	font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

.page {
	min-height: 100vh;
	width: 100%;
	background-color: var(--c-bg-main);
	// position: relative;
	text-align: center;
}
@media (hover) {
	.page {
		text-align: initial;
	}
}

.section-mobile {
	padding: 0 20px;
}

@media (hover) {
	.section-mobile {
		padding: 0;
	}
}