.footer-section {
	background-image: linear-gradient(0deg, var(--c-bg-grad-start) 0%, var(--c-bg-grad-end) 100%);
	padding: var(--p-mobile) var(--p-mobile);
	color: var(--c-text-white);
	font-weight: var(--f-weight-light);
	text-align: left;

	@media (min-width: 481px) {
		padding: var(--p-mobile) 10vw;
	}
	@media (hover) {
		padding: 6.8125rem 0;
		text-align: unset;
	}
}

.footer-info__container {
	margin: 0 0 20px 0;

	@media (hover) {
		margin: 0 auto;

		@media (min-width: 1170px) {
			margin: 0 0;
		}
	}
}

.footer-info {
	&__trafalgar {
		max-width: 35ch;
		margin: 0 0 20px 0;

		@media (hover) {
			max-width: 60ch;
			margin: 0 0 29px 0;

			@media (min-width: 1170px) {
				max-width: 35ch;
			}
		}
	}
	&__rights {
		@media (hover) {
			margin: 0 0;
		}
	}
}

