// #### grid settins
// ## page grid
.page-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, minmax(100px, auto));
}

@media (hover) {
    .page-grid {
        grid-template-columns: repeat(8, minmax(130px, 1fr));
    }
}

// ## page grid items
.page-grid {
    &__header {
	    grid-column: 1/9;
	    grid-row: 1/2;
    }

    &__main {
        grid-column: 1/9;
        grid-row: 2/3;
    }

    &__footer {
	    grid-column: 1/9;
	    grid-row: 3/4;
    }
}

// ## header grid
.header-grid {
    display: grid;
	grid-template-columns: repeat(8, 1fr);
}

// ## header grid item
.header-grid {
    &__nav-bar {
        grid-column: 2/8;
    }
}


