.image {
	max-width: 100%;
	height: auto;
}

.image-wrapper {
	padding-bottom: 2ch;
	flex-shrink: 1.5;
	// @media (min-width: 800px) {
	// 	margin: 0 auto;
	// }
	@media (hover) {
		padding-bottom: unset;
		// margin: 0 0;
	}
}