/* ====== trafalgar logo V.2.0 ====== */

.logo {
    text-decoration: none;
	display: flex;
    align-items: center;
    // margin: calc((100px - 41px) / 2) 0;
	font-weight: var(--f-weight-bold);

    &__icon {
        font-size: var(--f-size-t);
        color: var(--c-text-white);
        background-color: var(--c-main);
        width: 1.577em;
        line-height: 1.577em;
        border-radius: 1.577em;
        text-align: center;
        text-indent: -1px;
        margin:0;
    
        &--light {
            color: var(--c-text-logo-light);
            background-color: var(--c-text-white);
        }
    }
    
    &__text {
        font-size: var(--f-size-h3);
        margin: 0 0 0 0.5em;
        color: var(--c-text-logo);
    
        &--light {
            color: var(--c-text-white);
        }
    }
}   