/* #### general nav */
.nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* #### mobile nav */
/* ## mobile nav general styles */
.mobile-top-bar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
}

@media (hover) {
    .mobile-top-bar{
        display: block;
        height: unset;
    }
}

/* ## mobile nav button */
.mobile-nav-button {
    display: block;
    width: 41px;
    height: 41px;
    background: none;
    border: none;
    overflow: hidden;
    padding: 0;

    &::before,
    &::after,
    & div {
      background: var(--c-text-menu-static);
      content: "";
      display: block;
      height: 4px;
      border-radius: 2px;
      transition: 200ms cubic-bezier(.86,-0.3,.09,1.31);
    }
    
    &::before {
        transform: translateY(15px);
    }
    &::after{ 
        transform: translateY(-15px)
    }  

    &.active {
        &::before {
            transform: translateY(100%) rotate(45deg);
        }
        &::after {
            transform: translateY(-100%) rotate(-45deg);
        }
        & div {
            transform: translateX(100%) scale(0);
        }

        &:hover::before,
        &:hover::after,
        &:hover div {
            background: var(--c-text-menu-active)
        }
    }

    &:hover::before,
    &:hover::after,
    &:hover div {
        background: var(--c-text-menu-active);
    }
}

@media (hover) {
    .mobile-nav-button {
        display: none;
    }
}

/* #### primary nav */
.nav-bar {
    display: block;
}

@media (hover) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-bar__menu {
    display: block;
}

@media (hover) {
    .nav-bar__menu {
        display: flex;
        justify-content: space-between;	
    }
}

.nav-bar__item {
    display: block;
}

@media (hover) {
    .nav-bar__item {
        display: inline-block;
        font-size: 0;
    }
}

.nav-bar__link{
	transition: 200ms cubic-bezier(.3,.27,.11,.97);
}


.nav-bar__link, .nav-bar__link:visited {
    display: block;
    text-align:center;
    font-size: var(--f-size-secondary);
    font-weight: var(--f-weight-normal);
    color: var(--c-text-menu-static);
    text-decoration: none;
    padding: 1rem 1.25rem;  
    margin-top: 0.3em;
}

@media (hover) {
    .nav-bar__link, .nav-bar__link:visited {
        display:inline-block;
    }
}


.nav-bar__link--active, .nav-bar__link:hover {
    font-weight: var(--f-weight-bold);
	color: var(--c-text-menu-active)
}

.nav-bar__link::before {
    display: block;
    content: attr(data-title);
    font-weight: var(--f-weight-bold);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    margin-top: -1px;
}

