.navbar {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: var(--c-bg-menu);
}

.navbar-desktop {
	height: var(--nav-height-mobile);
	display: block;

	@media (hover) {
		height: 100%;

		@media (min-width: 660px) {		
			height: var(--nav-height-desktop);
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
		}
	}
}

.navbar-mobile {
	position: relative;
	height: var(--nav-height-mobile);
	background-color: var(--c-bg-main);
	display: flex;
	justify-content:space-between;
	align-items: center;

	@media (hover) {
		display: flex;
		height: var(--nav-height-desktop);
		background-color: unset;

		@media (min-width: 660px) {
			display: block;
			height: unset;
		}
	}
}

.navbar-mobile__button {
	overflow: hidden;
	width: 41px;
	height: 41px;
	padding: 0;
	border: none;
	background: none;
	display: block;
	cursor: pointer;

	&::before,
	&::after,
	& span {
		content: "";
		height: 4px;
		border-radius: 2px;
		background: var(--c-text-menu-static);
		display: block;
		transition: 300ms cubic-bezier(.86,-0.3,.09,1.31);
	}
	
	&::before {
		transform: translateY(15px);
	}
	&::after{ 
		transform: translateY(-15px)
	}

	&.active {
		&::before {
			transform: translateY(100%) rotate(45deg);
		}
		&::after {
			transform: translateY(-100%) rotate(-45deg);
		}
		& span {
			transform: rotate(45deg) scale(0);
		}

		&:hover::before,
		&:hover::after,
		&:hover span {
			background: var(--c-text-menu-active)
		}
	}

	&:hover::before,
	&:hover::after,
	&:hover span {
		background: var(--c-text-menu-active);
	}

	@media (hover) {
		display: none;
	}
}

.navbar-navigation {
	height: 100vh;
	padding-top: 20px;
	background: var(--c-bg-menu); 
	
	@media (hover) {
		height: unset;
		padding-top: unset;
	}
}

.navbar-navigation__menu {
	display: block;
	
	@media (hover) {
		min-width: 390px;	
		display: flex;
		justify-content: space-between;

		@media (min-width: 660px) {
			min-width: 450px;	
		}
	}
}

.navbar-navigation__item {
	display: block;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: var(--c-text-menu-static);
	}

	@media (hover) {
		display: inline-block;
		font-size: 0;

		&::after {
			display: none;
		}
	}
}


.navbar-navigation__link, .navbar-navigation__link:visited {
	padding: 1rem 1.25rem; 
	display: block;
	text-align:center;
	text-decoration: none;
	font-size: var(--f-size-secondary);
	font-weight: var(--f-weight-normal);
	color: var(--c-text-menu-static);

	@media (hover) {
		padding: 1rem 0.25rem; 
		font-size: var(--f-size-main);
		margin-top: 0em;
		display:inline-block;

		@media (min-width: 660px) {
			padding: 1rem 0.625rem;
			margin-top: 0.6em; 
		}
		@media (min-width: 710px) {
			font-size: var(--f-size-secondary);
			margin-top: 0.4em;
		}
		@media (min-width: 1040px) {
			padding: 1rem 1.25rem; 
		}	
	}
}

.navbar-navigation__link--active, .navbar-navigation__link--active:visited, .navbar-navigation__link:hover {
	font-weight: var(--f-weight-bold);
	color: var(--c-text-menu-active)
}

// ! provide constant width of Nav Link Btn (FLEX ITEM) in page layot
// ! dimensions of Nav Link Btn are different in static / hover states
.navbar-navigation__link::before {
	overflow: hidden;
	visibility: hidden;
	content: attr(data-title);
	height: 0;
	margin-top: -1px;
	display: block;
	font-weight: var(--f-weight-bold);
}

