.noscroll {
	overflow: hidden;

	@media (hover) and (pointer: fine) {
		overflow: unset;
	} 
}

.navbar-navigation {
	transition: all 200ms;
	transform: translateX(100%);

	&.active {
		transform: translateY(0%);
	}
}

.navbar-navigation .navbar-navigation__link {
	transition: all 300ms 200ms;
	opacity: 0;
	transform: translateY(100%);
}

.navbar-navigation.active .navbar-navigation__link {
	opacity: 1;
	transform: translateY(0%);
}

@media (hover) and (pointer: fine) {
	.navbar-navigation {
		transition: unset;
		transform: unset;
	
		&.active {
			transform: unset;
		}
	}

	.navbar-navigation .navbar-navigation__link {
		transition: 200ms cubic-bezier(.3,.27,.11,.97);
		opacity: unset;
		transform: unset;
	}
	.navbar-navigation.active .navbar-navigation__link {
		opacity: unset;
		transform: unset;
	}
}