.section-height {
	@media (hover) {
		padding-bottom: 0;
		min-height: 100vh;
		padding-top: 100px;
	}
}

.section-padding {
	padding: 0rem 1.25rem;

	@media (hover) {
		// was: padding: 3rem 2rem;
		padding: 0 2rem 3rem 2rem;

		@media screen and (min-width: 1100px) {
			// was: padding: 3rem 6.5rem;
			padding: 0 6.5rem 3rem 6.5rem;
		}
	}
}

.section-container {
	@media (hover) {
		display: flex;
		flex-flow: row wrap;
	}

	&--center {
		// @media (min-width: 1000px) {
		// 	display: flex;
		// 	flex-flow: column;
		// 	align-items: center;
		// 	margin-bottom: 20px;
		// }
		@media (hover) {
			display: flex;
			flex-flow: column;
			align-items: center;
			// margin-bottom: 0;
		}
	}
	&--testimonials {
		@media (hover) {
			display: flex;
			flex-flow: column;
			justify-content: center;
		}
	}
}

.section-hero-container {
	padding-top: 80px;

	@media (hover) {
		padding-top: 100px;
	}
}

.section-hero {
		height: 100%;
}