:root {
	//#### opacity
	--opacity-active-strong: 0.3;
	--opacity-active-medium: 0.6;

	// #### color
	// ## page
	--c-main: #458ff6;
	// ## read more btn
	--c-secondary: #4089ed; 
	// ## logo and menu
	--c-text-logo: #233348;
	--c-text-logo-light: #5b9bf3;
	--c-text-menu-active: #1f1534;
	--c-text-menu-static: #8f8a99;
	// ## text
	--c-text-dark: #000000;
	--c-text-gray: #7d7987;
	--c-text-white: #ffffff;
	// ## background page
	--c-bg-main: #ffffff;
	// ## background menu
	--c-bg-menu: #fffffff9;
	// ## background btn
	--c-bg-btn-light: #ffffff99;
	--c-bg-btn-main: var(--c-main);
	// ## background gradient
	--c-bg-grad-start: #5a98f2;
	--c-bg-grad-end: #67c3f3;
	// ## testimonials btn
	--c-btn-arr: #458ff6;
	--c-btn-circ: #5b9bf3;

	// #### font-size
	//16px
	--f-size-main: 1rem;
	--f-size-quote-mobile: var(--f-size-main);
	//18px
	--f-size-secondary: 1.125rem;
	//17px
	--f-size-link: 1.0625rem;
	//19px
	--f-size-quote: 1.1875rem;
	//22px
	--f-size-names: 1.375rem;
	//26px
	--f-size-t: 1.625rem;
	//20px
	--f-size-footer-h: 1.25rem;
	//21px
	--f-size-h4: 1.3125rem;
	//24px
	--f-size-h3: 1.5rem;
	//30px
	--f-size-h2-mobile: 1.875rem;
	//36px
	--f-size-h2: 2.25rem;
	--f-size-h1-mobile: var(--f-size-h2);
	//48px
	--f-size-h1: 3rem;

	// #### font-weight
	--f-weight-light: 300;
	--f-weight-normal: 400;
	--f-weight-bold: 700;

	// #### height
	// ## line
	--line-height-main: 1.15;

	// ## navbar 
	--nav-height-desktop: 100px;
	--nav-height-desktop-narrow: calc(var(--nav-height-desktop) + ((1rem * 2) + ((1rem * var(--line-height-main)) - 1px)));
	--nav-height-mobile: 80px;

	// #### padding 
	// ## mobile page
	--p-mobile-narrow: 20px;
	--p-mobile-wide: 12vw;
}