:root {
  --c-main: #458ff6;
  --c-secondary: #4089ed;
  --c-text-logo: #233348;
  --c-text-logo-light: #5b9bf3;
  --c-text-menu-active: #1f1534;
  --c-text-menu-static: #8f8a99;
  --c-text-dark: #000000;
  --c-text-gray: #7d7987;
  --c-text-white: #ffffff;
  --c-bg-main: #ffffff;
  --c-bg-menu: #fffffff9;
  --c-bg-grad-start: #5a98f2;
  --c-bg-grad-end: #67c3f3;
  --c-btn-arr: #458ff6;
  --c-btn-circ: #5b9bf3;
  --f-size-main: 1rem;
  --f-size-secondary: 1.125rem;
  --f-size-link: 1.0625rem;
  --f-size-quote: 1.1875rem;
  --f-size-names: 1.375rem;
  --f-size-t: 1.625rem;
  --f-size-footer-h: 1.25rem;
  --f-size-h4: 1.3125rem;
  --f-size-h3: 1.5rem;
  --f-size-h2: 2.25rem;
  --f-size-h1: 3rem;
  --f-weight-light: 300;
  --f-weight-normal: 400;
  --f-weight-bold: 700;
  --nav-height-desktop: 100px;
  /* so far no use
  --nav-height-mobile: 80px;
  */
}

.trafalgar {
  color: var(--c-text-dark);
  font-size: var(--f-size-main);
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  width: 100%;
  background-color: var(--c-bg-main);
  text-align: center;
}

@media (hover) {
  .page {
    text-align: initial;
  }
}
.section-mobile {
  padding: 0 20px;
}

@media (hover) {
  .section-mobile {
    padding: 0;
  }
}
.section-containter {
  display: flex;
  justify-content: space-between;
}

.section-hero-container {
  height: 100vh;
  padding-top: 100px;
}

.section--center {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-padding {
  padding: 3rem 6.5rem;
}

.section-padding--hero {
  padding: 3rem 0;
}

.article--hero {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
#
#   applied on desktop
#
*/
@media (hover) {
  /*
  // #### page grid
  .page-grid {
      display: grid;
      // grid-template-columns: repeat(8, 1fr);
      grid-template-columns: repeat(8, minmax(130px, 1fr));
      // grid-template-rows: repeat(3, minmax(100px, auto));
  }

  // ## page grid items
  .page-grid {
      &__header {
          grid-column: 1/9;
          grid-row: 1/2;
      }

      &__main {
          grid-column: 1/9;
          grid-row: 2/3;
      }

      &__footer {
          grid-column: 1/9;
          grid-row: 3/4;
      }
  }
  */
  .header-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .header-grid__navbar {
    grid-column: 2/8;
  }

  .main-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
  }

  .main-grid__section {
    grid-column: 1/9;
  }

  .section-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .section-grid__container {
    grid-column: 2/8;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .footer-grid__info {
    grid-column: 2/4;
  }
  .footer-grid__nav {
    grid-column: 4/8;
  }
}
.noscroll {
  overflow: hidden;
}

@media (hover) {
  .noscroll {
    overflow: unset;
  }
}
.navbar-navigation {
  transition: all 200ms;
  transform: translateX(100%);
}
.navbar-navigation.active {
  transform: translateY(0%);
}

.navbar-navigation .navbar__link {
  transition: all 300ms 200ms;
  opacity: 0;
  transform: translateY(100%);
}

.navbar-navigation.active .navbar__link {
  opacity: 1;
  transform: translateY(0%);
}

@media (hover) {
  .navbar-navigation {
    transition: unset;
    transform: unset;
  }
  .navbar-navigation.active {
    transform: unset;
  }

  .navbar-navigation .navbar__link {
    transition: 200ms cubic-bezier(0.3, 0.27, 0.11, 0.97);
    opacity: unset;
    transform: unset;
  }

  .navbar-navigation.active .navbar__link {
    opacity: unset;
    transform: unset;
  }
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--c-bg-menu);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-desktop {
  display: block;
  height: var(--nav-height-desktop);
}

@media (hover) {
  .navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height-desktop);
  position: relative;
  background-color: var(--c-bg-main);
}

@media (hover) {
  .navbar-mobile {
    display: block;
    height: unset;
    background-color: unset;
  }
}
.navbar-mobile__button {
  display: block;
  width: 41px;
  height: 41px;
  background: none;
  border: none;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
.navbar-mobile__button::before, .navbar-mobile__button::after, .navbar-mobile__button span {
  background: var(--c-text-menu-static);
  content: "";
  display: block;
  height: 4px;
  border-radius: 2px;
  transition: 300ms cubic-bezier(0.86, -0.3, 0.09, 1.31);
}
.navbar-mobile__button::before {
  transform: translateY(15px);
}
.navbar-mobile__button::after {
  transform: translateY(-15px);
}
.navbar-mobile__button.active::before {
  transform: translateY(100%) rotate(45deg);
}
.navbar-mobile__button.active::after {
  transform: translateY(-100%) rotate(-45deg);
}
.navbar-mobile__button.active span {
  transform: rotate(45deg) scale(0);
}
.navbar-mobile__button.active:hover::before, .navbar-mobile__button.active:hover::after, .navbar-mobile__button.active:hover span {
  background: var(--c-text-menu-active);
}
.navbar-mobile__button:hover::before, .navbar-mobile__button:hover::after, .navbar-mobile__button:hover span {
  background: var(--c-text-menu-active);
}

@media (hover) {
  .navbar-mobile__button {
    display: none;
  }
}
.navbar-navigation {
  height: 100vh;
  background: var(--c-bg-menu);
}

@media (hover) {
  .navbar-navigation {
    height: unset;
  }
}
.navbar__menu {
  display: block;
}

@media (hover) {
  .navbar__menu {
    display: flex;
    justify-content: space-between;
  }
}
.navbar__item {
  display: block;
  overflow: hidden;
}
.navbar__item::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--c-text-menu-static);
}

@media (hover) {
  .navbar__item {
    display: inline-block;
    font-size: 0;
  }
  .navbar__item::after {
    display: none;
  }
}
.navbar__link, .navbar__link:visited {
  display: block;
  text-align: center;
  font-size: var(--f-size-secondary);
  font-weight: var(--f-weight-normal);
  color: var(--c-text-menu-static);
  text-decoration: none;
  padding: 1rem 1.25rem;
}

@media (hover) {
  .navbar__link, .navbar__link:visited {
    display: inline-block;
    margin-top: 0.3em;
  }
}
.navbar__link--active, .navbar__link--active:visited, .navbar__link:hover {
  font-weight: var(--f-weight-bold);
  color: var(--c-text-menu-active);
}

.navbar__link::before {
  display: block;
  content: attr(data-title);
  font-weight: var(--f-weight-bold);
  height: 0;
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.footer-nav__link {
  display: inline-block;
  text-decoration: none;
  min-width: 7.8em;
  font-size: var(--f-size-secondary);
  color: var(--c-text-white);
  line-height: 2.111em;
  transition: all 200ms cubic-bezier(0.3, 0.27, 0.11, 0.97);
}
.footer-nav__link:hover {
  font-weight: var(--f-weight-bold);
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: var(--f-weight-bold);
}
.logo__icon {
  font-size: var(--f-size-t);
  color: var(--c-text-white);
  background-color: var(--c-main);
  width: 1.577em;
  line-height: 1.577em;
  border-radius: 1.577em;
  text-align: center;
  text-indent: -1px;
  margin: 0;
}
.logo__icon--light {
  color: var(--c-text-logo-light);
  background-color: var(--c-text-white);
}
.logo__text {
  font-size: var(--f-size-h3);
  margin: 0 0 0 0.5em;
  color: var(--c-text-logo);
}
.logo__text--light {
  color: var(--c-text-white);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 12.5rem;
  height: 3.75rem;
  border: 1.4px solid var(--c-main);
  border-radius: 999px;
  font-size: var(--f-size-secondary);
  font-weight: var(--f-weight-bold);
  color: var(--c-main);
  text-decoration: none;
  z-index: 998;
  transition: all 300ms cubic-bezier(0.3, 0.27, 0.11, 0.97);
}
.btn:hover {
  background-color: var(--c-main);
  color: var(--c-text-white);
}
.btn--hero {
  background-color: var(--c-main);
  color: var(--c-text-white);
}
.btn--hero:hover {
  background-color: transparent;
  color: var(--c-main);
}

.decor {
  position: relative;
  overflow: hidden;
}

.decor-dots--hero {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-40%, 0);
}
.decor-dots--services {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-40%, 0);
}
.decor-dots--articles {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-66%, 35%);
}
.decor-dots--footer {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-15%, 15%);
}

.decor-bg-left {
  z-index: -999;
  position: absolute;
  left: 0;
}

.decor-bg-right {
  z-index: -999;
  position: absolute;
  right: 0;
}

img {
  display: none !important;
}

@media (hover) {
  img {
    display: inline-block !important;
  }
}/*# sourceMappingURL=style.css.map */